// Place all the styles related to the prototypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

h1 {
    font-family: "arial black", sans-serif;
    background-color: #c9defc;
    border-left: 20px solid #5297ff;
    color: #5297ff;
    margin: 1em 0;
}

