// Place all the styles related to the prototypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

h1 {
    font-family: "arial black", sans-serif;
    background: linear-gradient(90deg,rgb(119, 241, 255), rgb(52, 52, 255));
}